# Predicting Diabetes

In [1]:
from path import Path
import pandas as pd

In [2]:
data = Path('../Resources/diabetes.csv')
df = pd.read_csv(data)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Separate the Features (X) from the Target (y)

In [3]:
y = # YOUR CODE HERE!
X = # YOUR CODE HERE!

## Split our data into training and testing

In [4]:
from sklearn.model_selection import train_test_split

# YOUR CODE HERE!

(576, 8)

## Create a Logistic Regression Model

In [5]:
from sklearn.linear_model import LogisticRegression
# YOUR CODE HERE!

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Fit (train) or model using the training data

In [ ]:
# YOUR CODE HERE!

## Score the model using the test data

In [7]:
# YOUR CODE HERE!

Training Data Score: 0.7743055555555556
Testing Data Score: 0.7552083333333334

## Make predictions

In [8]:
# YOUR CODE HERE!

     Prediction  Actual
0             0       0
1             1       1
2             0       0
3             1       1
4             0       0
5             0       0
6             1       1
7             1       0
8             1       1
9             0       0
10            1       1
11            0       1
12            0       0
13            1       1
14            0       1
15            0       1
16            0       0
17            0       0
18            1       1
19            0       0
20            0       0
21            0       1
22            0       0
23            0       0
24            0       0
25            1       1
26            1       1
27            0       0
28            0       0
29            0       0
..          ...     ...
162           0       0
163           0       0
164           0       0
165           1       0
166           1       0
167           0       0
168           0       1
169           1       1
170           0       0
171           0       0
172           0       0
173           0       0
174           0       0
175           0       1
176           0       1
177           0       0
178           0       0
179           0       0
180           0       1
181           0       0
182           0       0
183           0       0
184           0       0
185           1       1
186           0       0
187           1       1
188           0       0
189           0       0
190           0       0
191           0       0

[192 rows x 2 columns]