# Student Activity: Tokenizing Reuters

In [13]:
from nltk.corpus import reuters
from nltk.tokenize import sent_tokenize, word_tokenize
import pandas as pd

In [14]:
# Search through all categories
print(reuters.categories())

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [15]:
# Get all fileids associated with cpi
cpi_ids = reuters.fileids(categories = 'cpi')

In [16]:
# get all raw stories
raw_stories = []
ids = []
for id in cpi_ids:
    raw_stories.append(reuters.raw(id))
    ids.append(id)

In [17]:
# sentence tokenize stories
sentence_tokenized = [sent_tokenize(i) for i in raw_stories]

In [18]:
# word tokenize all sentences
word_tokenized = []

for story in sentence_tokenized:
    # get all for each article, which is already sentence tokenized
    words = []
    for sent in story:
        words = words + word_tokenize(sent)
    # append all words for each article to the word_tokenized list
    word_tokenized.append(words)

In [19]:
# Put everything into a DataFrame
reuters_cpi = pd.DataFrame({'raw_stories': raw_stories,
                             'sentence_tokenized': sentence_tokenized,
                             'word_tokenized': word_tokenized
                            })
reuters_cpi.index = ids

In [20]:
reuters_cpi.head()

,raw_stories,sentence_tokenized,word_tokenized
test/14891,ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwait...,[ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwai...,"[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Kuw..."
test/14918,INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\n...,[INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\...,"[INDONESIAN, INFLATION, RATE, 8.8, PCT, IN, 19..."
test/16103,HUNGARY RAISES PRICES IN EFFORT TO CURB DEFICI...,[HUNGARY RAISES PRICES IN EFFORT TO CURB DEFIC...,"[HUNGARY, RAISES, PRICES, IN, EFFORT, TO, CURB..."
test/16108,"AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ S...","[AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ ...","[AUSTRALIAN, GOVERNMENT, MUST, CUT, SPENDING, ..."
test/16118,"YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA S...","[YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA ...","[YUGOSLAV, ECONOMY, WORSENED, IN, 1986, ,, BAN..."