# Instructor Do: Intro to VADER Sentiment

In [1]:
# Initial imports
import os
from path import Path
import pandas as pd
from newsapi import NewsApiClient
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/camden/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [3]:
# Reading the News API key enviroment variable
api_key = os.getenv("news_api")

In [4]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [5]:
# Fetch all the news about Facebook Libra
libra_headlines = newsapi.get_everything(
    q="facebook AND libra",
    language="en",
    page_size=100,
    sort_by="relevancy"
)

# Print total articles
print(f"Total articles about Facebook Libra: {libra_headlines['totalResults']}")

# Show sample article
libra_headlines["articles"][0]

Total articles about Facebook Libra: 1408

{'source': {'id': 'techcrunch', 'name': 'TechCrunch'},
 'author': 'Josh Constine',
 'title': 'Pegging Libra just to the $ could soothe regulators, a16z says',
 'description': 'What if Libra wasn’t backed by a basket of international currencies, but only the dollar? Regulatory pushback to the Facebook-led cryptocurrency Libra has caused major partners including Visa, MasterCard, PayPal, and eBay to pull out of the Libra Association.…',
 'url': 'http://techcrunch.com/2019/10/11/libra-denominated-in-dollars/',
 'urlToImage': 'https://techcrunch.com/wp-content/uploads/2018/04/facebook-subscription-price.jpg?w=738',
 'publishedAt': '2019-10-11T23:53:00Z',
 'content': 'What if Libra wasn’t backed by a basket of international currencies, but only the dollar?\r\nRegulatory pushback to the Facebook-led cryptocurrency Libra has caused major partners including Visa, MasterCard, PayPal, and eBay to pull out of the Libra Association… [+4525 chars]'}

In [6]:
# Create the Facebook Libra sentiment scores DataFrame
libra_sentiments = []

for article in libra_headlines["articles"]:
    try:
        sentiment = analyzer.polarity_scores(text)
      
        libra_sentiments.append({
            "text": article["content"],
            "date": article["publishedAt"][:10],
            "compound": sentiment["compound"],
            "positive": sentiment["pos"],
            "negative": sentiment["neg"],
            "neutral": sentiment["neu"]
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
libra_df = pd.DataFrame(libra_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
libra_df = libra_df[cols]

libra_df.head()

,date,text,compound,positive,negative,neutral
0,2019-10-11,What if Libra wasn’t backed by a basket of int...,0.0129,0.026,0.000,0.974
1,2019-10-04,PayPal is the first company to walk away from ...,0.0000,0.000,0.000,1.000
2,2019-09-29,New York (CNN Business)In its effort to bring ...,0.5106,0.073,0.000,0.927
3,2019-10-14,Attempting to signal its popularity despite hi...,0.8025,0.195,0.000,0.805
4,2019-10-15,Libra could use a return to balance. Even by F...,-0.4019,0.000,0.062,0.938

In [7]:
# Get descriptive stats from the DataFrame
libra_df.describe()

        compound   positive   negative    neutral
count  92.000000  92.000000  92.000000  92.000000
mean    0.052807   0.051913   0.039804   0.908272
std     0.396338   0.054097   0.050711   0.074093
min    -0.855500   0.000000   0.000000   0.756000
25%    -0.184000   0.000000   0.000000   0.851500
50%     0.000000   0.049500   0.000000   0.919500
75%     0.361200   0.074750   0.062500   0.971000
max     0.806700   0.206000   0.190000   1.000000