# Describing America

In [1]:
%matplotlib inline

In [2]:
from nltk.corpus import inaugural
from collections import Counter
import spacy
import pandas as pd
nlp = spacy.load("en_core_web_sm")

In [4]:
import nltk
nltk.download("inaugural")

[nltk_data] Downloading package inaugural to
[nltk_data]     /Users/camden/nltk_data...
[nltk_data]   Package inaugural is already up-to-date!

True

In [5]:
# get ids and texts of inaugural addresses
ids = inaugural.fileids()
texts = [inaugural.raw(i) for i in ids]

In [16]:
def adj_parser(txt):
    """
    returns tuple of most common adj in body of text
    and its frequecy count
    
    Arguments:
        txt(String)
    """
    
    decompose = nlp(txt)
    adjectives = [token.text for token in \
                  decompose if token.pos_ =="ADJ"]
    most_common = Counter(adjectives).most_common(1)[0]
    return most_common

In [17]:
all_adjectives = [adj_parser(text) for text in texts]

In [21]:
adjs, freqs = zip(*all_adjectives)

In [25]:
df = pd.DataFrame({
    "inaguration":ids,
    "adjective":adjs,
    "frequency":freqs
})

In [26]:
df.head()

           inaguration adjective  frequency
0  1789-Washington.txt    public          6
1  1793-Washington.txt    Fellow          1
2       1797-Adams.txt   foreign          8
3   1801-Jefferson.txt       own          6
4   1805-Jefferson.txt    public         14

In [35]:
df.groupby("adjective").sum().sort_values("frequency",ascending=False)[:3]

           frequency
adjective
new              127
great            124
public            70