# Categorizing Records in Pandas DataFrames

## 1. Import Libraries and Dependencies

In [2]:
# import the module pandas
import pandas as pd
from pathlib import Path

## 2. Set the File Path to the CSV using Pathlib

In [3]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path('../Resources/people_cleansed.csv')

## 3. Import the CSV into Pandas DataFrame

In [4]:
# Use the file path to read the CSV into a DataFrame and display a few rows
people_df = pd.read_csv(csv_path)
people_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Create Bins for Total Ranking

In [5]:
# Create the variable bins to define our bounds for when we cut the dataframe.
bins = [0, 30000, 70000, 100000, 200000]

# Create names for the bins
group_names = ["Low", "Moderate", "Above Average", "High"]

## 5. Label Records According to the Corresponding Bin

In [6]:
# Add a column named "Salary Level" to people_df and slice the data into the bins
people_df["Salary Level"] = pd.cut(people_df["Salary"], bins, labels=group_names)

people_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,Salary Level
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27,Moderate
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22,Above Average
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40,Moderate
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62,Above Average
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47,Above Average

In [7]:
people_df[people_df["Salary Level"] == "High"]

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,Salary Level
5,6,Snozzwell,Antonio,Male,Babcock University,Technical Writer,119916.0,asnozzwell5@mysql.com,49,High
20,21,Meikle,Geneva,Female,Dar al Hekma College,Quality Control Specialist,116539.0,gmeiklek@hubpages.com,35,High
24,25,Gutowska,Cirillo,Male,Mansfield University of Pennsylvania,Staff Scientist,104212.0,cgutowskao@elpais.com,38,High
25,26,Pinel,Henrietta,Female,Georg-Simon-Ohm-Fachhochschule Nürnberg,Business Systems Development Analyst,115360.0,hpinelp@aol.com,24,High
28,29,Haydney,Dorene,Female,Southern New Hampshire University,Research Assistant IV,112098.0,dhaydneys@blogger.com,55,High
30,32,Spender,Salvatore,Male,Universidad Fermin Toro,Assistant Media Planner,119987.0,sspenderv@google.it,45,High
34,36,Enion,Clementina,Female,Aurora University,Chief Design Engineer,119918.0,cenionz@intel.com,55,High
35,37,Abson,Becka,Female,Ecole Nationale Supérieure d'Hydraulique et de...,Project Manager,109191.0,babson10@sciencedirect.com,41,High
36,38,Mazdon,Stanislaus,Male,Ecole Nationale Supérieure de Chimie de Mulhouse,Biostatistician II,110022.0,smazdon11@sciencedirect.com,35,High
40,42,Reilly,Horatius,Male,Preston Institute of Management Sciences and T...,Systems Administrator II,108483.0,hreilly15@bing.com,24,High
42,44,Bickle,Jillie,Female,University of Insurance and Banking in Warsaw,Operator,116522.0,jbickle17@cargocollective.com,39,High
46,48,Tupper,Edmund,Male,Hokkaido University of Education,VP Product Management,112162.0,etupper1b@ted.com,25,High
52,54,Orht,Mollie,Female,Wilson College,Compensation Analyst,103995.0,morht1h@usnews.com,53,High
60,62,Extil,Sadie,Female,Kurukshetra University,Teacher,112379.0,sextil1p@g.co,31,High
61,63,Chasson,Kalindi,Female,Universität Kassel,Programmer Analyst IV,117041.0,kchasson1q@symantec.com,55,High
62,64,Witnall,Betty,Female,Midway College,Human Resources Assistant IV,111961.0,bwitnall1r@nymag.com,42,High
66,68,Giovannacci,Jeanna,Female,Olabisi Onabanjo University,Help Desk Operator,103759.0,jgiovannacci1v@usatoday.com,58,High
71,74,Dewen,Kare,Female,Makhanlal Chaturvedi National University of Jo...,VP Accounting,107242.0,kdewen21@slideshare.net,37,High
72,75,Brockwell,Candide,Female,Hachinohe University,Community Outreach Specialist,105450.0,cbrockwell22@jigsy.com,35,High
74,77,Partington,Polly,Female,Gomel State University Francisk Scarnia,Nuclear Power Engineer,110477.0,ppartington24@patch.com,24,High
75,78,Ickovitz,Bradan,Male,Universidad Tecnologica de Nezahualcoyotl,Pharmacist,115511.0,bickovitz25@nature.com,52,High
79,82,Adrianello,Francesca,Female,Mamoun Private University for Science and Tech...,Senior Financial Analyst,115755.0,fadrianello29@hostgator.com,45,High
85,88,Reading,Kennan,Male,Al-Quds University - The Arab University in Je...,Account Coordinator,102172.0,kreading2f@marketwatch.com,47,High
86,89,Brandi,Vivi,Female,National Law School of India University,Developer IV,118063.0,vbrandi2g@harvard.edu,51,High
88,91,Clawsley,Cornall,Male,Mountain State University,Recruiter,102230.0,cclawsley2i@mapy.cz,36,High
98,101,Magog,Any,Male,Air University,Registered Nurse,119739.0,amagog2s@disqus.com,42,High
100,103,Gulston,Daune,Female,Kobe University,Compensation Analyst,110638.0,dgulston2u@google.it,32,High
104,107,Casari,Tye,Male,Université Rennes I,Software Test Engineer III,100588.0,tcasari2y@vimeo.com,32,High
105,108,Deerness,Salvidor,Male,St Clements University - Higher Education School,Product Engineer,108539.0,sdeerness2z@com.com,60,High
106,109,Dumper,Rosamond,Female,Olabisi Onabanjo University,Quality Control Specialist,108290.0,rdumper30@si.edu,33,High
...,...,...,...,...,...,...,...,...,...,...
878,904,Grisbrook,Frederico,Male,Universitas Widyatama,Assistant Manager,114709.0,fgrisbrookp3@hhs.gov,56,High
879,905,Spavins,Aveline,Female,Lebanese University,Help Desk Operator,116154.0,aspavinsp4@comcast.net,55,High
881,907,Kettoe,Lu,Female,Miami University of Ohio - Hamilton,Geological Engineer,104332.0,lkettoep6@about.com,54,High
887,913,Capp,Rachel,Female,Kunstakademie Düsseldorf.,Statistician I,108956.0,rcapppc@economist.com,45,High
889,915,Mallord,Terry,Male,Grace University,Geologist IV,108226.0,tmallordpe@nifty.com,46,High
890,916,Haney,Ham,Male,Westbrook University,Financial Analyst,105047.0,hhaneypf@umn.edu,29,High
892,918,Raiker,Shannon,Male,Bharath Institue Of Higher Education & Research,Junior Executive,103011.0,sraikerph@wisc.edu,38,High
899,926,Scotting,Basilius,Male,Northeastern University,Structural Analysis Engineer,118606.0,bscottingpp@wsj.com,42,High
903,930,Meriguet,Daniella,Female,Belarussian State Pedagogical University M. Tanka,Mechanical Systems Engineer,116963.0,dmeriguetpt@reference.com,36,High
904,931,De Ferraris,Brigida,Female,Tianjin University of Commerce,Paralegal,111146.0,bdeferrarispu@domainmarket.com,46,High
908,935,Graben,Cris,Male,University of Findlay,Health Coach IV,119829.0,cgrabenpy@yahoo.co.jp,33,High
910,937,Diggens,Letty,Female,Universidade Federal do Acre,Human Resources Assistant I,107579.0,ldiggensq0@walmart.com,50,High
912,939,M'Quharg,Madeleine,Female,Bashkir State University,Compensation Analyst,107021.0,mmquhargq2@chron.com,25,High
914,941,Libbe,Ignaz,Male,Universidad Nacional de Guinea Ecuatorial,Programmer Analyst I,102655.0,ilibbeq4@merriam-webster.com,57,High
917,944,Klampk,Luciana,Female,Lupane State University,Budget/Accounting Analyst II,116983.0,lklampkq7@huffingtonpost.com,42,High
918,945,Cargen,Tremain,Male,DEI Bachelor & Master Degrees,Web Designer II,102696.0,tcargenq8@google.com.hk,42,High
919,946,Bull,Hamish,Male,University of Milan - Bicocca,Marketing Manager,113657.0,hbullq9@odnoklassniki.ru,28,High
920,947,Ollington,Bayard,Male,St. Petersburg State University of Economics a...,Health Coach I,110539.0,bollingtonqa@nymag.com,56,High
922,949,Dilawey,Dru,Male,Brewton-Parker College,Health Coach I,114477.0,ddilaweyqc@uol.com.br,25,High
926,953,Unnamed,Perren,Male,Marymount Manhattan College,Geologist IV,111209.0,pmaidensqg@usnews.com,25,High
935,963,Quartley,Sheree,Female,Ural State Academy of Mining and Geology,Software Engineer II,112072.0,squartleyqq@nationalgeographic.com,47,High
937,965,Frean,Elsinore,Female,European University,Librarian,115246.0,efreanqs@phpbb.com,26,High
938,966,Charlewood,Rhoda,Female,Odense University,Developer I,106551.0,rcharlewoodqt@netvibes.com,41,High
940,968,Crilly,Sutherland,Male,Azerbaijan Technology University,Graphic Designer,115651.0,scrillyqv@slate.com,63,High
943,971,Perchard,Ennis,Male,University of Exeter,Accounting Assistant I,109716.0,eperchardqy@storify.com,64,High
948,976,Pickett,Nanete,Female,Ecole Nationale Supérieure de Physique de Gren...,Human Resources Manager,108835.0,npickettr3@businesswire.com,61,High
952,980,Eykel,Dillon,Male,Shorter College,Pharmacist,110623.0,deykelr7@independent.co.uk,58,High
958,986,Grint,Humbert,Male,National Technical University (Kharkiv Polytec...,Financial Analyst,114068.0,hgrintrd@google.com.br,64,High
965,993,Rugg,Dorothea,Female,Universidad Politécnica de El Salvador,VP Marketing,114586.0,druggrk@miitbeian.gov.cn,51,High
966,994,Griffitts,Damaris,Female,The College of Wooster,Senior Editor,113339.0,dgriffittsrl@mapquest.com,42,High