In [1]:
import pandas as pd

In [3]:
fruits = pd.Series(["apple", "mango", "kiwi"])
veggies = pd.Series(["Celery", "Broccoli","Squash"])
cars = pd.Series(["Honda", "Acura", "McLaren"])

In [6]:
nouns = pd.DataFrame([fruits, veggies, cars])
nouns.columns = []

        0         1        2
0   apple     mango     kiwi
1  Celery  Broccoli   Squash
2   Honda     Acura  McLaren